{{#each this}}
<div class="photo-card">
   <a class="photo-link" href="{{largeImageURL}}">
  <img class="photo-img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy"  />
   </a>
  <div class="info">
    <p class="info-item">
      <b>Likes <span class="info-text">{{likes}}</span></b>
    </p>
    <p class="info-item">
      <b>Views <span class="info-text">{{views}}</span></b>
    </p>
    <p class="info-item">
      <b>Comments <span class="info-text">{{comments}}</span></b>
    </p>
    <p class="info-item">
      <b>Downloads <span class="info-text">{{downloads}}</span></b>
    </p>
  </div>
</div>
{{/each}}